// -- about.jade ~ Copyright 2016 Paul Beaudet
extends ./header.jade

block content
    .container
      #about.row.marketing
        h1 About StrangerDanger
        p Note! Beta application, no guarantee of persistent or complete functionality. Submit feedback, inof8or@gmail.com
        .col-lg-6
          h4 Connect with new people
          p
            | This application looks to empower people to connect with strangers in a fast,
            | safe (despite a toung in cheek codename) and convienient way, through timed text.
            | Sure, strangers are inherently strange, yet most of our best friends or
            | invaluble professional peers start off an strangers to us. Some of them
            | even remain strange long after becoming aquented! The service acts a gateway
            | to creating a strong connection, providing a new shared context with
            | people of simiar interest.
          h4 So, will you make friends?
          p
            | It should be noted that the service holds no promise of forcing anyone to be
            | your friend. The service hopes to help create situations where any two users become
            | comfortable with each other enough that they want to continue the conversation
            | regularly in other contexts like social networks, messaging, or video chat.
        .col-lg-6
          h4 How does it work?
          p
            | It is easy to get started! Just subscribe to any topic that interest you as they appear.
            | The service matches your topics to similar users who happen to be online when you are.
            | Once the system makes a match there will be a countdown to talk with them. Simple as that. Stop
            | talking to repeat the process, keep talking to potentially make a new friend.
      // footer
      footer.footer
        p &copy; Paul Beaudet 2016
// end of container
// Javescript dependencies
script(src='bower_components/jquery/dist/jquery.min.js')
script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
