// -- login.jade ~ Copyright 2016 Paul Beaudet
extends ./header.jade

block content
    .container
      // sign in form
      #signup.jumbotron
        h1 Sign in
        form(method='post')
          input(type='hidden', name="_csrf", value=csrfToken)
          .form-group
            label(for='signupEmail')  Email Address
            input.form-control(type='email', name='email', required='true')
          .form-group
            label(for='signupPassword')  Password
            input.form-control(type='password', name='password', required='true')
          input#submit.btn.btn-lg.btn-success(type='submit', value='submit')
      // footer
      footer.footer
        p &copy; OurService 2015 ~ Make all the things!
    // end of container
    // Javescript dependencies
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
