// -- navbar.jade ~ copyright 2016 Paul Beaudet
.header.clearfix
  nav
    ul.nav.nav-pills.pull-right
      li(role='presentation')
        a(href='/about') About
      li(role='presentation')
        a(href='/beta') Sign-Up
      li(role='presentation')
        a(href='/login') Login
    h3.text-muted StrangerDanger
