//-- topic.jade ~ Copyright 2015 Paul Beaudet
extends ./header.jade

block content
    // Informational row
    .row
        .col-xs-8.text-center
            h3#info.text-center
        .col-xs-4.text-center
            h3.text-center #{accountType}
    // chat Ice Breaker list
    .row
        .col-xs-12
            table.table.table-hover.table-striped
                tr
                    th
                        span#dialog0
                        button#button0.btn.btn-success.btn-lg.pull-right
                            span#timer0.text-danger
                            span#icon0.glyphicon(aria-hidden='true')
                tr
                    th
                        span#dialog1
                        button#button1.btn.btn-success.btn-lg.pull-right
                            span#timer1.text-danger
                            span#icon1.glyphicon(aria-hidden='true')
                tr
                    th
                        span#dialog2
                        button#button2.btn.btn-success.btn-lg.pull-right
                            span#timer2.text-danger
                            span#icon2.glyphicon(aria-hidden='true')
                tr
                    th
                        span#dialog3
                        button#button3.btn.btn-success.btn-lg.pull-right
                            span#timer3.text-danger
                            span#icon3.glyphicon(aria-hidden='true')
                tr
                    th
                        span#dialog4
                        button#button4.btn.btn-success.btn-lg.pull-right
                            span#timer4.text-danger
                            span#icon4.glyphicon(aria-hidden='true')
                tr
                    th
                        span#dialog5
                        button#button5.btn.btn-success.btn-lg.pull-right
                            span#timer5.text-danger
                            span#icon5.glyphicon(aria-hidden='true')
    // Timer
    .row
        .col-xs-12.text-center
            h1#timer6.text-center.text-danger
    // chat bar
    .navbar.navbar-inverse.navbar-fixed-bottom(role='navigation')
        .navbar-text.pull.left
            .form-group
                .col-xs-12.input-group.input-group-lg
                    input#textEntry.form-control(type='text')
                    span#sendButton.input-group-btn
                        button.btn.btn-info.btn-lg.pull-right(type='button')
                            span#sendText
    // Javescript dependencies
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/socket.io-1.3.5/index.js')
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(type='text/javascript', src='js/index.js')
