<!DOCTYPE html>

<html>
    <head>
        <!--
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
        -->
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <title>Bunny Chat</title>
    </head>
    <body onload="loadCat()">
        <div class="container"> <!-- main container -->
            <!-- toolbar items (logo, up dir, current dir, down dir, settings) -->
            <div class="row">
                <!-- company logo -->
                <div class="col-xs-2">
                        <img src="img/smallBunny.png" class="bg-info pull-left">
                </div>
                <!-- directory / catagory -->
                <div class="col-xs-8 text-center">
                    <button href="#" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        <span  class="currentDirectory"></span>
                    </button>
                    <!-- dropdown items-->
                    <ul class="dropdown-menu" aria-labelled-by="dropdown-menu" type="button">
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Politics</a></li>
                            <li><a href="#">Business</a></li>
                    </ul>
                    <!-- up directory button -->
                    <a href="#" class="btn btn-success btn-lg">
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            <span class="sr-only">Up directory</span>
                    </a>
                </div>
                <!-- settings -->
                <div class="col-xs-2">
                    <a href="#" class="btn btn-primary btn-lg pull-right">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                        <span class="sr-only">settings</span>
                    </a>
                </div>
            </div>
            <!-- upsell dialog -->
            <div class="jumbotron">
                <h1>Sign up today for dollars a month</h1>
                <p class="lead">Unleash the power of our robots!</p>
                <ul>
                    <li>Prioritized Matching - Random can be fun, on topic can be awesome</li>
                    <li>Create topics - Bring attention to your interest</li>
                    <li>Ability to fav other users - opportunity to be friends with similar users</li>
                </ul>
                <i class="text-center"> Free: Open Source distributed Client ~ Paid: Centralized Online services</i>
            </div>
            <div class="row-xs-12 text-center">


            </div>
        </div>
<!-- Javescript dependencies -->
        <script type="text/javascript" src="cordova.js"></script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>
